.card{
    text-align: center;
    transition: 0.3S;
    float: left;
    margin-left: 450PX;
    margin-top: 20PX;
    box-shadow: rgb(100, 98, 98) 0px 0px 30px 0px;
    border: 0cap;
    border-radius: 10px;
    height: 570PX;
    width: 300PX;
}
.form-group{
    padding: 2px;
}
.fa-solid{
    padding-top: 30px;
    padding-right: 230px;
}
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .form-control{
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  /* Style the form icons */
  .icon {
    padding: 10px;
    background: white;
    color: gray;
    min-width: 50px;
    text-align: center;
    border: 1px solid #ced4da;
    border-right: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

img{
 width: 50px;
 background-color: rgb(190, 190, 190);
 background-size: 5px;
 border-radius: 20px;
}

a.btn{
 width: 100%;
}

.card-text {
    font-size: 24px
}
.card-title{
    padding: 10px;
}
